:root {
--m-white:#f8f8f8;
--m-light-yellow: #faf5e2;
--m-light-green: #14b095;
--m-dark-green: #055046;
--m-light-blue: #4d6d7c;
--m-dark-blue: #003352;
}

@font-face {
font-family: "Avenir";
src: url('fonts/AvenirLTStd-Medium.otf');
}
@font-face {
font-family: "Ailerons";
src: url('fonts/Ailerons-Typeface.otf');
}

body {	
background: url(https://images.pexels.com/photos/323645/pexels-photo-323645.jpeg?w=2000);
background-size: cover;
margin: 0;
padding: 0;
background-attachment: fixed;
font-family: "Avenir";
}

p{ 
font-size: 16px;}

a{
color: black;
}

a:hover, a:focus{
color: #3c6382;
}

h5{
	padding: 0;
	margin: 0;
}

footer{
background: rgba(240, 240, 240, 1);
}

.navbar-brand{
font-family: Ailerons;
font-size: 3rem;
}
.navbar-fixed-top.scrolled {
background-color: rgba(30, 30, 30,1.0);
transition: background-color 200ms linear;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
color: white;
}

#nav-hov:hover{
color: #82ccdd;
}

.navbar-brand{
margin-bottom: 1%;
}

.navbar-light .navbar-brand{
color: white;
}

.navbar-light .navbar-brand:hover{
color: #82ccdd;
}

.nav-container{
border-bottom:  2px solid #82ccdd;
display: flex;
align-content: space-between;
width: 100%;
margin-right: 10%;
margin-left: 10%;
}

.nav-item {
text-transform: uppercase;
font-size: 1rem;
}

.navbar-light .navbar-toggler {
border-color: #82ccdd;
background-color: #82ccdd;
}

#navbarDropdownMenuLink {
color: white;
}

#navbarDropdownMenuLink:hover {
color: #82ccdd;
}

.dropdown-menu.show{
border-radius: 1px;
background:rgba(30, 30, 30, 1);
}

.dropdown-item{
color: white;
}

.dropdown-item:hover {
color: rgba(30, 30, 30,1.0);
text-decoration: none;
background-color: #82ccdd;}

.carousel-item {
height: 75vh;
min-height: 350px;
background: no-repeat center center scroll;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-position: 50% 15%;
color: #fff;
text-shadow: 2px 2px 8px black;
}

.display-4{
text-transform: uppercase;
font-size: 4rem;
}


#company {
font-family: Ailerons;
font-size: 6rem;
font-weight: bold;
}

.lead{ 
font-size: 1.5rem;
color: #82ccdd;
}

.carousel-caption {
position: absolute;
bottom: 25%;
left: 15%;
z-index: 10;
padding-top: 20px;
padding-bottom: 20px;
color: #fff;
text-align: center;
max-width: 95%;
}

@media screen and (max-width: 768px) {
 #company{
 	font-size: 2rem;
 }

.lead{
 	font-size: 1rem;
 }
.display-4{
	font-size: 1.5rem;
}
}

#item-3 {
background-position: 50% 28%;
}

#carouselExampleIndicators{
margin-bottom:0;
}

.about-section{
width: 100%;
background: rgba(240, 240, 240, 1);
padding: 40px 0;
}

.about-section h1{
text-align: center;
text-transform: uppercase;
font-size: 30px;
}

.border-about{
width: 160px;
height: 3px;
background: #3c6382;
margin: 40px auto;
}

.about{
margin-left: auto;
margin-right: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.about p{
margin-bottom: 0.8rem;
text-align: center;
}

.about a{
display: inline-block;
color: #3c6382;
text-decoration: none;
border: 2px solid #3c6382;
border-radius: 24px;
padding: 8px 40px;
}

.about a:hover{
color: white;
background: #3c6382;
}

.services-section{
 background: rgba(0, 0, 0, 0.6);
 background-size: cover;
 padding: 60px 0;
}

.inner-width{
width: 100%;
max-width: 100%;
margin: auto;
padding: 0 20px;
overflow: hidden;
}

.section-title{
text-align: center;
color:white;
text-transform: uppercase;
font-size: 30px
}

.service-title{
text-transform: uppercase;
font-size: 20px;
}

.border-services{
width: 160px;
height: 3px;
background:#82ccdd;
margin: 40px auto;
}

.services-container{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.service-box{
max-width: 20%;
padding: 10px;
text-align: center;
color: white;
}

.service-icon{
	display: inline-block;
	width: 70px;
	height: 70px;
	border: 3px solid #82ccdd;
	transform: rotate(45deg);
	margin-bottom: 30px;
	margin-top: 16px;
}

.service-icon i{
	line-height: 70px;
	transform: rotate(-45deg);
	font-size: 26px;
	color: #82ccdd;
}

.service-box:hover{
border: 2px solid #82ccdd;
border-radius: 2px;}
}

.service-desc{
font-size: 14px;
}

@media screen and (max-width: 768px) {
 .service-box{
 	max-width: 50%;
 }
}

@media screen and (max-width: 480px) {
 .service-box{
 	max-width: 95%;
 }
}

.container-partners{
margin: auto;
max-width: 80%;
margin-top:40px;
margin-bottom: 40px;
}

#legal-text{
margin-top: 2%;
margin-bottom: 2%;
margin-left: 4%;
margin-right: 4%;
text-align: left;
}

#map{
margin-top: 4%;
margin-bottom: 4%;
}

#top-text{
margin-top: 2%;
margin-bottom: 2%;
color:var(--m-light-green);
text-transform: uppercase; 
}

.bg-footer{
text-align: center;
background: rgba(30, 30, 30,1.0);
padding-top: 15px;
padding-bottom: 15px;
}

.footer-title{
margin-right: 5px;
margin-left: 5px;
color: white;
text-transform: uppercase;
padding: 0;
font-size: 15px;
}

.btn-footer-bar a{
margin-top: 15px;
display: inline-block;
color: #82ccdd;
text-decoration: none;
border: 2px solid #82ccdd;
border-radius: 24px;
padding: 8px 40px;
}

.btn-footer-bar a:hover{
color:rgba(30, 30, 30,1.0);
background: #82ccdd;
}

#footer-company{
font-family: Ailerons;
font-size: 1.5rem;
}

hr{
background: #3c6382;
border-width: 2px;
}

footer i{
color: #3c6382;	
}