:root {
--m-white:#f8f8f8;
--m-light-yellow: #faf5e2;
--m-light-green: #14b095;
--m-dark-green: #055046;
--m-light-blue: #4d6d7c;
--m-dark-blue: #003352;
}

@font-face {
font-family: "Avenir";
src: url('fonts/AvenirLTStd-Medium.otf');
}
@font-face {
font-family: "Ailerons";
src: url('fonts/Ailerons-Typeface.otf');
}

body {
font-family: "Avenir";
}

h5{
font-size: 16px;
color: #000;
text-transform: uppercase;
}
p{ 
font-size: 16px;}

a{
color: black;
}

a:hover, a:focus{
color: var(--m-orange);
}

.navbar-brand{
font-family: Ailerons;
font-size: 3rem;
color: var(--m-dark-blue);
}
.navbar-fixed-top.scrolled {
background-color: var(--m-white);
transition: background-color 200ms linear;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
color: black;
}
.navbar-brand{
margin-bottom: 1%;
}

.navbar-light .navbar-brand{
color: black;
}

.navbar-light .navbar-brand:hover{
color: black;
}

.nav-container{
border-bottom:  2px solid var(--m-white);
display: flex;
align-content: space-between;
width: 100%;
margin-right: 10%;
margin-left: 10%;
}

.nav-item {
text-transform: uppercase;
font-size: 1rem;
}

.navbar-light .navbar-toggler {
border-color: black;
}

#navbarDropdownMenuLink {
color: black;
}

.dropdown-item:hover {
color: black;
text-decoration: none;
background-color: var(--m-white);}

iframe{
width: 100%;
height: calc((100vw*9) /16);
}
.embed-responsive {
position:relative;
padding-bottom:44%;
padding-top:0px;
height:0;
overflow:hidden;}

.btn-primary {
background-color:var(--m-light-green);
border-color: var(--m-light-green);
}

.carousel-item {
height: 80vh;
min-height: 350px;
background: no-repeat center center scroll;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-position: 50% 15%;
color: #fff;
text-shadow: 2px 2px 8px black;
}

.display-4{
text-transform: uppercase;
font-size: 65px;
}

#mercadev {
font-family: Ailerons;
font-size: 70px;
font-weight: bold;
letter-spacing: 10px;
}

.lead{ 
font-size: 22px;
}

.carousel-caption {
position: absolute;
/*    right: 15%;*/
bottom: 30%;
left: 15%;
z-index: 10;
padding-top: 20px;
padding-bottom: 20px;
color: #fff;
text-align: center;
}

#item-3 {
background-position: 50% 28%;
}

.row{
display: flex;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
margin-bottom: 4%;
margin-left: auto;
margin-right: auto;
align-content: center;
width: 100%;
}

#carouselExampleIndicators{
margin-bottom: 3%;
}

#title-footer {
color: white;
}

#logo-bar-footer{
color: white;
}

.top-image {
height: 10%;
min-height: 350px;}

#intro-text{
margin-bottom: 4%;
margin-left: 8%;
margin-right: 8%;
text-align: left;
}


#service-row{
display:flex;
background-color: white;
width: 84%;
height: auto;
margin-top: 4%;
margin-bottom:4%;
align-items: center;
}

#service-row-r{
flex-direction: row-reverse;
display:flex;
background-color: white;
width: 84%;
margin-top: 4%;
margin-bottom:4%;
height: auto;
align-items: center;
}

.text-service-box{
display: flex;
flex: 1;
width: 100%;
height: 80%;}

.text-service{
margin-right:8%;
margin-left:8%;
margin-top: 4%;
margin-bottom:4%;
height: 80%;
color:black;
}

#service-title{
text-transform: uppercase;
/*   text-decoration: white underline;*/
font-size: 22px;
color: var(--m-light-green);}

.underline-service{
height: 0%;
width: 20%;
margin: auto;
border-bottom: 2px solid var(--m-orange)
}

#legal-text{
margin-top: 2%;
margin-bottom: 2%;
margin-left: 4%;
margin-right: 4%;
text-align: left;
}

#map{
margin-top: 4%;
margin-bottom: 4%;
}

#top-text{
margin-top: 2%;
margin-bottom: 2%;
color:var(--m-light-green);
text-transform: uppercase; 
}

.form-row{
margin-top:2%;
margin-bottom:2%;
margin-left: auto;
margin-right: auto;
width: 80%;
flex: 1;
}

.btn-form-row{
justify-content: center;
width: 40%;
margin-left: auto;
margin-right: auto;
}

.InputMessage{
height:;
}

.card-deck{
margin-top:2%;
margin-bottom:4%;
margin-left: auto;
margin-right: auto;
width: 100%;
flex: 1;
}

.card-deck-content{ 
margin-left: auto;
margin-right: auto;
width: 84%;
margin-bottom: 3%;}

.card{
text-align:center;
padding-top:2%;
border:none;
}

.card-text{
font-size: 14px;
color: #6c7279;
text-align: center;
}
/*agency card*/
#agency-row{
display:flex;
background-color: var(--m-light-blue);
width: 100%;
height: auto;
align-items: center;
}

.text-agency-box{
display: flex;
flex: 1;
width: 100%;
height: 80%;}

.text-agency{
margin-right:8%;
margin-left:8%;
margin-top: 4%;
margin-bottom:4%;
height: 80%;
color:white;
}
#agency-title{
text-transform: uppercase;
/*   text-decoration: white underline;*/
font-size: 22px}

#hr-agency {
border-top: 2px solid #fff ;
height: 0.5rem;
margin-bottom: 0.5rem;}

#btn-agency-contact{
background-color: white;
color :var(--m-light-blue);
font-size:16px;
font-weight: 600;
border: 2px solid #fff;
border-radius: 2px;
/*text-transform: uppercase; */}

#btn-agency-contact:hover, #btn-agency-contact:focus {
background-color:var(--m-light-yellow);
color:var(--m-dark-blue);
border: 2px solid var(--m-dark-blue); }

/*Team card*/
#team-row{
display:flex;
flex-direction: row;
align-items: center;
align-content: space-between;
background-color: var(--m-orange);
width: 100%;
height: auto;
align-items: center;
}

.text-team-box{
display: flex;
height: auto;
flex: 1;
width: 100%;}

.text-team{
margin-right:8%;
margin-left:8%;
margin-top: 4%;
margin-bottom:4%;
height: 80%;
color:white;
}

#lg-team{
color: #fff;
}

/*Digital card*/
#digital-row{
display:flex;
flex-direction: column;
align-items: center;
margin-bottom: 2%;
align-content: space-between;
background-color: white;
width: 90%;
height: auto;
align-items: center;
border-bottom: 2px solid var(--m-orange)
}

#digital-title{
text-transform: uppercase;
/*   text-decoration: white underline;*/
font-size: 22px;
color:black;}

.text-digital{
margin-right:auto;
margin-left:auto;
margin-top: 2%;
margin-bottom:2%;
width:80%;
color:black;
}

#logo-digital-card{
color: var(--m-light-green)
}
/*Digital card*/
#what-row{
display:flex;
flex-direction: column;
align-items: center;
align-content: space-between;
background-color: white;
width: 90%;
height: auto;
align-items: center;
}

#title-what{
text-transform: uppercase;
/*   text-decoration: white underline;*/
font-size: 22px;
color:var(--m-light-green);
margin-bottom: 4%;
}

#logo-card{
color: var(--m-dark-blue);
}

.footer-bar{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: var(--m-dark-blue);
color: white;
height: auto;
padding-top: 1%;
padding-bottom: 1%;
padding-left: 3%;
padding-right: 3%;
}

.logo-footer-content{
margin-left: 3%;
}

hr {
border-top: 2px solid var(--m-light-blue);
;}

.text-uppercase .font-weight-bold{
color: var(--m-dark-blue);
}

#contact-job{
margin-bottom: 2px;
}


#infos-contact{
height: 40px;
}

#contact-mail{
color: var(--m-orange);
text-decoration: underline;
}

#copy{
font-family: Ailerons;
font-size: 1.2rem;
text-transform: uppercase;
}
